*,
*::before,
*::after {
box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffc5e6;
  width: 40vw;
  padding: 2px;
  border-radius: 1rem;
  transition: 1000ms;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 500ms;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  background: #ff2644;
  border: 4px solid #ffc5e6;
  border-radius: 50%;
  color: #ffc5e6;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  animation: heart-animation 1s ease-in;
}

.heart:hover {
  animation: heart-animation 1s infinite;
}

@keyframes heart-animation {
  20% {
    font-size: 1.2rem;
  }
  50% {
    font-size: 1.5rem;
  }
  80% {
    font-size: 1.2rem;
  }
}

.question-text {
  position: relative;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ff2644;
}

.line {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 3px solid #ff2644;
  width: 0px;
  transition: 1s;
}

.inner-container:hover .line {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ff2644;
  overflow: hidden;
}

.meter{
  color: black;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.pushable {
  position: relative;
  background: #ff2644;
  width: 140px;
  color: #ffc5e6;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 1px solid #ffc5e6;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 250ms;
}

.pushable#positive:hover {
  filter: brightness(110%);
  animation: heartbeat 1s forwards;
}

.pushable {
  transition: transform 0.3s ease;
}

@keyframes heartbeat {
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(1);
  }
}

.clicked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  color: #ff2644;
}

/* YES */

.kiss-gif {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: auto;
}

.hasher-gif {
  position: fixed;
  top: 23%;
  left: 12%;
  transform: translate(-50%, -50%) rotate(-10deg);
}

.flykiss-gif {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.pichu-gif {
  position: fixed;
  bottom: 0;
  left: 12px;
}

.hug-gif {
  position: absolute;
  bottom: 0;
  left: 21px;
  transform: translateY(20px);
  width: 150px;
}

.kissup-gif {
  position: absolute;
  top: 0;
  right: 20%;
  transform: translateY(-100px);
  width: 100px;
}

.loving-gif {
  position: fixed;
  top: 0;
  right: 20%;
  transform: rotate(-180deg);
  width: 100px;
}

.loveyou-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem; 
  line-height: 1.5rem;
}

/*  RESPONSIVE WEB  */
@media only screen and (max-width: 1200px) {
  .inner-container {
    width: 60vw;
  }
  .question-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .inner-container {
    width: 90vw;
  }
  .question-text {
    font-size: 1.3rem;
  }
  .pichu-gif {
    width: 120px;
  }
  .kiss-gif {
    left: 30%;
    width: 100px;
  }
  .flykiss-gif {
    width: 160px;
  }
}

/* about text :P */
.about {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;
  font-size: 0.9rem;
  color: #ddd;
  text-decoration: none;
}

.about:hover {
  color: #fff;
}